body{
    background-color: aquamarine;
}
div{
    background-color: crimson;
}
#d1{
    opacity: 0.25;
}
#d2{
    opacity: 0.50;
}
#d3{
    opacity: 0.75;
}
#d4{
    opacity: 1;
}
#d5{
    background-color: rgba(220,20,60,0.25);
}
#d6{
    background-color: rgba(220,20,60,0.50);
}
#d7{
    background-color: rgba(220,20,60,0.75);
}
#d8{
    background-color: rgba(220,20,60,1);
}